<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="approval">

	<select id="getAppSet" resultType="com.example.grp.model.ApprovalSetVO">
		SELECT * FROM approval_set WHERE app_num = 1
	</select>
	
	<update id="setAppSet" parameterType="com.example.grp.model.ApprovalSetVO">
		UPDATE approval_set SET 
			app_A_auth = #{app_A_auth},
			app_B_auth = #{app_B_auth},
			app_before_sign = #{app_before_sign},
			app_other_sign = #{app_other_sign},
			app_after_sign = #{app_after_sign},
			app_return = #{app_return},
			app_view = #{app_view},
			app_cencle = #{app_cencle} 
		WHERE app_num = 1
	</update>
	
</mapper>












