<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="register">
	
	<select id="getBuseo" resultType="com.example.grp.model.BuseoVO">
		SELECT * FROM gw_buseo ORDER BY buseo_id
	</select>
	
	<insert id="setEmpRegister" parameterType="com.example.grp.model.EmpVO">
			INSERT INTO gw_employee SET 
				emp_buseo 	= #{empBuseoCode},
				emp_id		= #{emp_id},
				emp_name 	= #{emp_name},
				emp_pwd 	= #{emp_pwd},
				emp_regdate	= now(),
				emp_phone	= #{emp_phone}
	</insert>
	
	<select id="getChkEmpId" parameterType="String" resultType="int">
		SELECT COUNT(emp_id) FROM gw_employee WHERE emp_id = #{emp_id}
	</select>
</mapper>












